<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://pinnpublic.dothome.co.kr/cdn/example-min.css">
</head>
<body>

    <div th:replace="~{inc/header :: menu}"></div>

    <h2>Index</h2>

    <!--/*

        조각 페이지
        1. th:insert="~{경로}"
        2. th:replace="~{경로}"

    */-->
    <!--/*
    <div th:insert="~{inc/header.html}"></div>
    <div th:insert="~{inc/header}"></div>

    <hr>

    <div th:replace="~{inc/header :: header}"></div>

    <div th:replace="~{inc/header :: footer}"></div>
    */-->


    <!-- username(아이디) -->
    <div sec:authentication="name"></div>

    <!-- MemberDTO, Member -->
    <div sec:authentication="principal"></div>


    <!--/*

        <div sec:authentication="principal.authorities"></div>

    */-->
    <div sec:authorize="isAnonymous()">익명 사용자</div>
    <div sec:authorize="isAuthenticated()">인증 사용자</div>

</body>
</html>














